<% group = [
        [0,'Newborn'],
        [1,'1’s']
        [1,'2’s'],
        [2,'3’s'],
        [3,'4’s'],
        [4,'5’s'],
        [5,'K'],
        [6,'1st'],
        [7,'2nd'],
        [8,'3rd'],
        [9,'4th'],
        [10,'5th'],
        [11,'6th'],
        [12,'7th'],
        [13,'8th'], %>

<%= form_for @child do |f| %>
  <% if @child.errors.any? %>
    <% @child.errors.full_messages.each do |error_msg| %>
      <p class="form_error"><%= error_msg %></p>
    <% end %>
  <% end %>
  
  <% f.hidden_field :family_id value: session[:family_id] %>

  <p class="form_field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  
  <p class="form_field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  
  <p class="form_field">
    <%= label :group_id %><br />
    <%= select(:group_id, group) %>
  </p>
  
  <p class="form_field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </p>
  
  <p class="form_field">
    <%= f.label :allergies %><br />
    <%= f.text_area_field :allergies %>
  </p>
  
  <p class="form_field">
    <%= f.label :concerns %><br />
    <%= f.text_area_field :concerns %>
  </p>
  
  <%= f.submit %>
<% end %>