<div id="logo" class="clear">
  <%= image_tag("a2kids.png", :class => "center", :alt => "Acts2 Kids", :height => 125) %>
</div>

<div id="login" class="clear">
  <h1>Log In</h1>

  <% if ENV['DEMO_STATUS'] == "TRUE" %>
    <div class="demo tc">
      <p>DEMO SITE: Please use these credentials to sign in and look around:<br />
        Username: admin<br />Password: demo</p>
    </div>
  <% end %>

  <%= form_tag logins_path do %>
    <p>
      <%= label_tag :username %><br />
      <%= text_field_tag :username, nil, size: 37 %>
    </p>
  
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, size: 37 %>
    </p>
  
    <%= link_to("Log In", '#', :class => "new_button submit right") %>
  <% end %>
</div>