<div class="clear frost">
  <%= f.hidden_field :klass_id %>

  <div class="left">
    <p class="form_field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname %>
    </p>

    <p class="form_field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </p>
  </div>

  <div class="left">
    <p class="form_field">
      <%= f.label :group_id, "Age/Grade" %><br />
      <%= f.select(:group_id, Klass::AGES) %>
    </p>

    <p class="form_field">
      <%= f.label :birthday %><br />
      <%= f.text_field :birthday %>
    </p>
  </div>

  <div class="left">
    <p class="form_field">
      <%= f.label :allergies %><br />
      <%= f.text_area :allergies, :cols => "30", :rows => "2" %>
    </p>
  </div>

  <div class="left">
    <p class="form_field">
      <%= f.label :concerns %><br />
      <%= f.text_area :concerns, :cols => "30", :rows => "2" %>
    </p>
  </div>

  <div class="left">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove Child", '#', class: "remove_fields" %>
  </div>
</div>