<h1>Family Information (<%= @family.familyname %>)</h1>

<p>Family Name: <%= @family.familyname %></p>
<p>Address: <%= @family.address %></p>
<p>City: <%= @family.city %></p>
<p>State: <%= @family.state %></p>
<p>ZipCode: <%= @family.zipcode %></p>
<%= link_to "Edit Family", edit_family_path(@family.id) %>