<h1>Welcome <%= current_user.username %>!</h1>
<h2><% if session[:event_id] %>
    <%= "Current Event: " + Event.find(session[:event_id]).name %>
  <% else %>
    <%= "Please Select An Event" %>
  <% end %>
</h2>

<% @users.each do |user| %>
  <p class="user" id="user_<%= user.id %>">
    <%= link_to(user.username, user_path(user.id)) %>
  </p>
<% end %>

<%= link_to "Event Admin", :events %>
<%= link_to "Family Admin", :families %>
<%= link_to "Class Admin", :klasses %>

<p>Current Event: <%= Event.find(session[:event_id]).name %> (<%= session[:event_id] %>)</p>
<p>Current User: <%= User.find(session[:user_id]).username %> (<%= session[:user_id] %>)</p>
<p>Current Family: <%= Family.find(session[:family_id]).familyname %> (<%= session[:family_id] %>)</p>
