<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |error_msg| %>
      <p class="form_error"><%= error_msg %></p>
    <% end %>
  <% end %>

  <p class="form_field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p class="form_field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :class => "datepicker" %>
  </p>
  
  <p class="form_field">
    <%= f.label :duration, 'Duration(Min)' %><br />
    <%= f.text_field :duration %>
  </p>
  
  <p class="form_field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </p>
  
  <%= link_to("Save", '#', :class => "new_button", :id => "submit") %>
<% end %>