<h1>Event Admin</h1>

<h3>Future Events</h3>
<table id="event_table">
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @fut_events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.strftime("%a, %b %e, %Y") %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Event', new_event_path %>
<br />

<h3>Past Events</h3>
<table id="event_table">
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @past_events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.strftime("%a, %b %e, %Y") %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>