<% if ENV['DEMO_STATUS'] == "TRUE" && session[:tour_id] == 0 %>
  <div class="demo">
    <h3>Product Tour Cont.</h3>
    <ol>
      <li>Activate an Event by clicking 'Activate' next to a Future Event</li>
      <li>Click 'Checkin' in the navigation menu above</li>
    </ol>
  </div>
  <% session[:tour_id] = 1 %>
<% end %>

<h2>Future Events</h2>

<table id="event_table">
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

<% @fut_events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td class="tc"><%= event.date.strftime("%a, %b %e, %Y") %></td>
    <td class="tc" id="status"><%= "Active" if session[:event_id].to_i == event.id %></td>
    <td class="tc"><%= session[:event_id].to_i == event.id ? link_to("Deactivate", deactivate_event_path(event.id), class: "switch active", id: "#{event.id}", :remote => true) : link_to("Activate", activate_event_path(event.id), class: "switch", id: "#{event.id}", :remote => true) if @cu.usertype >= User::TYPES['checkin'] %></td>
  </tr>
<% end %>
</table>

<% if @cu.usertype >= User::TYPES['coordinator'] %>
  <br />
  <%= link_to 'New Event', new_event_path, :class => "new_button" %>
<% end %>

<% if @cu.usertype >= User::TYPES['pastor'] %>
  <%= render :partial => "past_events", :locals => {:attendance => @attendance, :past_events => @past_events} %>
<% end %>