<h1>Event Information</h1>
<div class="clear">
  <div id="event_info" class="left column">
    <p>Name: <%= @event.name %></p>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.start_time %></p>
    <p>Duration(Min): <%= @event.duration %></p>
    <%= link_to "Edit Event", edit_event_path(@event.id), :class => "new_button" %>
    
    <br />
    
    <h2>Attendees</h2>
    <% if Attendance.where(:event_id => @event.id).present? %>
      <div class="clear" id="attendance">
        <table class="t_attendance">
          <tr class="gap">
            <th>Attendance</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td><%= Attendance.where(:event_id => @event.id).count %></td>
          </tr>
          <% @klasses.each do |k| %>
            <tr class="gap">
              <th><%= k %></th>
              <th><%= Attendance.where(["event_id = ? and klass_name = ?", @event.id, k]).count %></th>
            </tr>
            <% Attendance.where(["event_id = ? and klass_name = ?", @event.id, k]).each do |a| %>
              <tr>
                <td colspan="2"><%= a.child.name %></td>
              </tr>
            <% end %>
            <tr></tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
  <div id="email" class="left column">
    <h2>Past Emails</h2>
    <ul>
      <% @event.emails.each do |e| %>
        <li><%= e.subject %> (<%= e.created_at.in_time_zone("Central Time (US & Canada)").to_formatted_s(:long) %>)</li>
      <% end %>
    </ul>
    
    <h2>Send New Email</h2>
    <%= form_for @email do |e| %>
      <%= e.hidden_field :event_id, :value => @event.id %>
      <p>
        <%= e.label :subject %>
        <%= e.text_field :subject, :value => "A2Kidz Recap: " + @event.name %>
      </p>
      <p>
        <%= e.label :content, "Email Message" %><br />
        <%= e.text_area :content, :value => "\n\nThank you,\nA2 Kidz Leaders"%>
      </p>
      <%= e.submit %>
    <% end %>
  </div>
</div>