<h1>Email Admin</h1>

<table id="email_table">
  <tr>
    <th>Event</th>
    <th>Content</th>
    <th>Date/Time</th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.ename %></td>
    <td><%= truncate(email.content, length: 40) %></td>
    <td><%= email.created_at.in_time_zone("Central Time (US & Canada)").to_formatted_s(:long) %></td>
    <td><%= link_to 'Show', email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_email_path %>
