<div id="checkins_confirm">
  <h1>Who's Here?</h1>

  <p><%= @family[0].famname %> family (<%= link_to("Edit Family", edit_family_checkin_path(@family[0].fid)) %>)</p>

  <%= form_tag confirm_submit_path do %>
    <% @family.each do |family| %>
      <p>
        <%= check_box_tag "children[kid#{family.cid}]", "#{family.cid}" %>
        <%= label_tag(family.cfname + " " + family.clname + " (" + family.kname + ")") %>
      </p>
    <% end %>
    <%= link_to("Check In", '#', :class => "new_button submit right") %>
  <% end %>
</div>


