
<div id="checkin_div">
  <!-- <h1>Check In</h1> -->

  <%= form_tag :checkins do %>
    <p>
      <%= label_tag :phone %><br />
      <%= text_field_tag :phone, nil, :class => "phone" %>
      <%= link_to("Check In", '#', :class => "new_button", :id => "submit") %>
    </p>
  
  <% end %>

  <p><%= link_to("Create New Family", :new_family, :class => "new_button") %></p>
</div>