<div id="checkin_div">
  <!-- <h1>Check In</h1> -->

  <%= form_tag :checkins, remote: true do %>
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone, nil, :class => "phone", :autofocus => true %>
    <%= link_to("Check In", '#', :class => "new_button submit") %>
  <% end %>

  <p><%= link_to("Create New Family", :new_family_checkin, :class => "new_button") %></p>
</div>