<!DOCTYPE html>
<html>
<head>
  <title>A2Checkin - Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body id="<%= params[:controller] %>">
<% if ENV['DEMO_STATUS'] == "TRUE" %>
  <div class="demo_ribbon">
    <%= image_tag("left-demo-ribbon.png", :alt => "DEMO SITE") %>
  </div>
<% end %>
<div id="container">
  <%= link_to image_tag("a2kids.png", :alt => "Acts2 Kids", :height => 75), :root %>
  <nav id="admin">
    <ul class="nav">
      <li><%= link_to("Home",:home) %></li>
      <% if current_user.usertype >= User::TYPES['checkin'] %>
        <li><%= link_to("Checkin",:new_checkin) %></li>
      <% end %>
      <li><%= link_to("Events",:events) %></li>
      <% if current_user.usertype >= User::TYPES['pastor'] %>
        <li><%= link_to("Families",:families) %></li>
        <li><%= link_to("Emails",:emails) %></li>
        <li><%= link_to("Classes",:klasses) %></li>
      <% end %>
      <li><%= link_to("Users",:users) %></li>
      <li><%= link_to("Log Out",login_path(session[:user_id]), :method => :delete) %></li>
    </ul>
  </nav>
  <div id="content">
    <!-- If a flash message is provided, display it. -->
    <% if flash[:notice] || flash[:alert] %>
      <div id="flash">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    <% end %>
  
    <%= yield %>
  </div>
</div>
</body>
</html>
