<!DOCTYPE html>
<html>
<head>
  <title>A2Checkin - Check In</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body id="<%= params[:controller] %>">
<% if ENV['DEMO_STATUS'] == "TRUE" %>
  <div class="demo_ribbon">
    <%= image_tag("left-demo-ribbon.png", :alt => "DEMO SITE") %>
  </div>
<% end %>
<div id="container" class="pic_background">
  <div id="hidden_home" class="right">
    <%= link_to("Home", :home) %>
  </div>
  <%= image_tag("a2kids.png", :class => "right", :alt => "Acts2 Kids", :height => 125) %>
  
  <div id="content">
    <!-- If a flash message is provided, display it. -->
    <div id="wrongpw" class="hidden">Invalid Phone Number.</div>
    <div id="success" class="hidden">Checked in Successfully.</div>
  
    <%= yield %>
  </div>
</div>
</body>
</html>
