<%= form_for @klass do |f| %>
  <% if @klass.errors.any? %>
    <% @klass.errors.full_messages.each do |error_msg| %>
      <p class="form_error"><%= error_msg %></p>
    <% end %>
  <% end %>

  <p class="form_field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p class="form_field">
    <%= f.label :min_group_id %><br />
    <%= f.select(:min_group_id, Klass::AGES) %>
  </p>
  
  <p class="form_field">
    <%= f.label :max_group_id %><br />
    <%= f.select(:max_group_id, Klass::AGES) %>
  </p>
  
  <%= link_to("Save", '#', :class => "new_button", :id => "submit") %>
<% end %>