<h1>Class Admin</h1>

<% @klasses.each do |klass| %>
  <p class="klass" id="klass_<%= klass.id %>">
    <%= link_to(klass.name, klass_path(klass.id)) %>
    (<%= Klass::AGES[klass.min_group_id][0] %> through <%= Klass::AGES[klass.max_group_id][0] %>)
  </p>
<% end %>
<%= link_to "New Class", :new_klass, :class => "new_button" %>